<form {{action "createUser" on="submit"}}>  
  <div class="two-field-wrap">
    <div class="form-input input-1-2">
      {{input type="text" value=first_name name="first_name" placeholder="first name" class="form-control"}}
      <div class="form-field-error">
        {{user_errors.first_name}}
      </div>
    </div>
    <div class="form-input input-2-2">
      {{input type="text" value=last_name name="last_name" placeholder="last name" class="form-control"}}
    </div>
  </div>
  <div class="form-input">
    {{input type="email" value=email name="email" placeholder="email" class="form-control"}}
    <div class="form-field-error">
      {{user_errors.email}}
    </div>
  </div>
  <div class="form-input">
     {{input type="password" value=password name="password" placeholder="password" class="form-control"}}
    <div class="form-field-error">
      {{user_errors.password}}
    </div>
  </div>
  <div class="form-input">
    {{input type="password" value=password_confirmation name="password_confirmation" placeholder="password confirmation" class="form-control"}}
    <div class="form-field-error">
      {{user_errors.password_confirmation}}
    </div>
  </div>
  <div class="form-input input-1-2"></div> 
  <div class="form-input input-2-2">
    {{#link-to 'users.new'}}
      Forget your password?
    {{/link-to}}
  </div>
  <button type="submit" name="submit" class="r3-btn-primary">
    Submit
  </button>
</form>