<div class="r3-page-header">
  <h2 class="center"> 
    Account Settings
  </h2>
</div>

<form {{action "saveChanges" on="submit"}}>  

  <div class="account-settings-wrap shadow-border">
    <div class="account-settings-row">
      <div class="account-settings-label">
        <p class="account-settings-header">
          The Basics
        </p>
      </div>
    </div>
    <div class="account-settings-row">
      <div class="account-settings-label">
        Name:
      </div>
      <div class="account-settings-value">
        <div class="account-settings-value-2">
          {{input type="text" value=model.first_name name="first_name" placeholder="first name" class="form-control"}}
        </div>
        <div class="account-settings-value-2">
         {{input type="text" value=model.last_name name="last_name" placeholder="last name" class="form-control"}}
        </div>
      </div>
    </div>
    <div class="account-settings-row">
      <div class="account-settings-label">
        Photo:
      </div>
      <div class="account-settings-value">
        <div class="account-settings-user-photo-wrap">
          <img {{bind-attr src=model.avatar_profile}} >
        </div>
        {{file-upload url="/api/sign"
          model="user"
          attribute="avatar"
          s3_key=controller.s3_key
        }}
      </div>
    </div>
    <div class="account-settings-row">
      <div class="account-settings-label">
        Email:
      </div>
      <div class="account-settings-value">
       {{input type="text" value=model.email name="email" placeholder="email" class="form-control"}}
      </div>
    </div>
    <div class="account-settings-row">
      <div class="account-settings-label">
        Position:
      </div>
      <div class="account-settings-value">
        {{input type="text" value=model.position name="position" placeholder="position" class="form-control"}}
      </div>
    </div>
    <div class="account-settings-row">
      <div class="account-settings-label">
        Title:
      </div>
      <div class="account-settings-value">
        {{input type="text" value=model.title name="title" placeholder="title" class="form-control"}}
      </div>
    </div>
    <div class="account-settings-row">
      <div class="account-settings-label">
        Company:
      </div>
      <div class="account-settings-value">
        {{input type="text" value=model.company name="company" placeholder="company" class="form-control"}}
      </div>
    </div>
  </div><!-- End of Account Settings Wrap -->

  <div class="account-settings-wrap account-settings-submit-wrap shadow-border">
    <div class="account-settings-delete">
      <button class="r3-btn-warn-hollow">
        Delete
      </button>
    </div>
    <div class="account-settings-submit">
      <button type="submit" name="submit" class="r3-btn-primary">
        Save
      </button>
    </div>
  </div>
</form>