{{page-header value="Company Settings"}}

<form {{action "saveChanges" on="submit"}}>  

  <div class="account-settings-wrap shadow-border">
    <div class="account-settings-row">
      <div class="account-settings-label">
        <p class="account-settings-header">
          The Basics
        </p>
      </div>
    </div>
    <div class="account-settings-row">
      <div class="account-settings-label">
        Name:
      </div>
      <div class="account-settings-value">
       {{input type="text" value=model.name name="name" placeholder="name" class="form-control"}}
      </div>
    </div>
    <div class="account-settings-row">
      <div class="account-settings-label">
        Description:
      </div>
      <div class="account-settings-value"></div>
    </div>
    <div class="account-settings-row">
      <div class="account-settings-label">
        Placements Trafficked:
      </div>
      <div class="account-settings-value">
        <div>
          {{model.placements_trafficked}}
        </div>
      </div>
    </div>
    <div class="account-settings-row">
      <div class="account-settings-label">
        Placement Rate:
      </div>
      <div class="account-settings-value">
        <div>
          {{model.placement_rate}}
        </div>
      </div>
    </div>
    <div class="account-settings-row">
      <div class="account-settings-label">
        Total Cost:
      </div>
      <div class="account-settings-value">
      </div>
    </div>
  </div><!-- End of Account Settings Wrap -->

  <div class="account-settings-wrap account-settings-submit-wrap shadow-border">
    <div class="account-settings-delete">
      <button type="submit" {{action 'delete'}} name="submit" class="r3-btn-warn-hollow">
        Delete
      </button>
    </div>
    <div class="account-settings-submit">
      <button type="submit" name="submit" class="r3-btn-primary">
        Save
      </button>
    </div>
  </div>
</form>