<form {{action 'signIn' on="submit"}}>
  <div class="input-field">
    {{input type="email" id="sign-in-email" value=email name="sign-in-email" 
    class="validate"}}
    <label for="sign-in-email"> Email </label>
    <div class="form-field-error">
      {{userErrors.email}}
    </div> 
  </div>
  <div class="input-field">
    <label for="sign-in-password"> Password </label>
    {{input type="password" value=password id="sign-in-password" name="password" class="validate"}}
    <div class="form-field-error">
      {{userErrors.password}}
    </div>
  </div>
  <div class="input-field">
    {{input type="checkbox" id="remember-me"}}
    <label for="remember-me">Remember Me</label>
  </div>
  <div class="submit-field">
    <button type="submit" name="submit" class="waves-effect waves-light btn">
      Submit
    </button>
  </div>
</form>