<form {{action 'signIn' on="submit"}}>
  <div class="form-input">
    {{input type="email" value=email name="email" placeholder="email" class="form-control"}}
    <div class="form-field-error">
      {{userErrors.email}}
    </div> 
  </div>
  <div class="form-input">
     {{input type="password" value=password name="password" placeholder="password" class="form-control"}}
    <div class="form-field-error">
      {{userErrors.password}}
    </div>
  </div>
  <div class="form-input input-1-2"></div> 
  <div class="form-input input-2-2">
    {{#link-to 'users.new'}}
      Forget your password?
    {{/link-to}}
  </div>
  <button type="submit" name="submit" class="r3-btn-primary">
    Submit
  </button>
</form>