  <%= form_for @user do |f| %>
    <div class="two-field-wrap">
      <div class="form-input input-1-2">
        <%= f.text_field :first_name,
            :placeholder => "first name", :class => "form-control" %>
      </div>
      <div class="form-input input-2-2">
        <%= f.text_field :last_name,
            :placeholder => "last name", :class => "form-control" %>
      </div>
    </div>
      <div class="form-input">
        <%= f.text_field :email,
            :placeholder => :email, :class => "form-control" %>
      </div>
      <div class="form-input">
        <%= f.password_field :password,
            :placeholder => :password, :class => "form-control" %>
      </div>
      <div class="form-input">
        <%= f.password_field :password_confirmation,
            :placeholder => "password confirmation", :class => "form-control" %>
      </div>
      <div class="form-input input-1-2"></div> 
      <div class="form-input input-2-2">
        <%= link_to "Forgotten password?", new_password_reset_path %>
      </div>
      <%= f.submit "Sign up", :class => "r3-btn-primary" %>
   <% end %>