<div class="r3-page-header">
  <h2 class="neon-green">
    {{campaign.name}}
  </h2>
</div>

<ul class="list-unstyled">
  {{#each flight in flights}}
    <li>
    <!-- Flight Header -->
    <div class="r3-page-header">
      <h2 class="neon-green" style="text-align:left;">
        {{flight.name}}
      </h2>
    </div>
    <!-- Ad Tag Table -->
    <ul class="list-unstyled">
      <li>
        <table class="table table-bordered table-hover table-condensed">
          <tr style="font-weight: bold">
            <td style="width:35%">Placement Name</td>
            <td style="width:20%">Status</td>
            <td style="width:20%">Group</td>
            <td style="width:25%">Edit</td>
          </tr>
          
          {{#each ad_tag in flight.tags}}
          <tr>
            <td><!-- Placement - Editable Cell -->
              <span>
                {{ad_tag.placement}}
              </span>
            </td>
            <td><!-- Placement - Editable Cell -->
              <span>
                {{ad_tag.placement}}
              </span>
            </td>
            <td><!-- Placement - Editable Cell -->
              <span>
                {{ad_tag.placement}}
              </span>
            </td>
            <td><!-- Placement - Editable Cell -->
              <span>
                {{ad_tag.placement}}
              </span>
            </td>
          </tr>
          {{/each}}

        </table>
      </li>
    </ul>
    </li>  
  {{/each}}
</ul>



{{outlet}}