<div class="r3-page-header">
  <h2 class="neon-green">
    {{placement}}
  </h2>
</div>

  <!-- Form Tag Here -->
  <div class="account-settings-wrap shadow-border">
    <div class="account-settings-row">
      <div class="account-settings-label">
        <p class="account-settings-header">
          Ad Tag Basics
        </p>
      </div>
    </div>
    <div class="account-settings-row">
      <div class="account-settings-label">
        Name:
      </div>
      <div class="account-settings-value">
          {{placement}}
      </div>
     </div>
     <div class="account-settings-row">
      <div class="account-settings-label">
        Ad Type:
      </div>
      <div class="account-settings-value">
        {{ad_type}}
      </div>
      </div>
      <div class="account-settings-row">
        <div class="account-settings-label">
          Advertiser:
        </div>
        <div class="account-settings-value">
          {{advertiser}}         
        </div>
      </div>
      <div class="account-settings-row">
        <div class="account-settings-label">
          Audience:
        </div>
        <div class="account-settings-value">
          {{audience}}
        </div>
      </div>
      <div class="account-settings-row">
        <div class="account-settings-label">
          Cost Basis:
        </div>
        <div class="account-settings-value">
          {{cost_basis}}
        </div>
      </div>
      <div class="account-settings-row">
        <div class="account-settings-label">
          Cost Method:
        </div>
        <div class="account-settings-value">
          {{cost_method}}
        </div>
      </div>
      <div class="account-settings-row">
        <div class="account-settings-label">
          Days:
        </div>
        <div class="account-settings-value">
          {{days}}
        </div>
      </div>
      <div class="account-settings-row">
        <div class="account-settings-label">
          Impressions:
        </div>
        <div class="account-settings-value">
          {{impressions}}
        </div>
      </div>
      <div class="account-settings-row">
        <div class="account-settings-label">
          Publisher:
        </div>
        <div class="account-settings-value">
          {{publisher}}
        </div>
      </div>
    </div>

    <div class="account-settings-wrap account-settings-submit-wrap shadow-border">
      <div class="account-settings-submit">
        
      </div>
    </div>

<!-- end form tag here -->
{{outlet}}
