<div class="card panel-add-creatives">
  
  <div class="card-content">
	  <div class="panel-add-creatives-header">
			<p> 
				Creatives
			</p>
			<a {{action 'displayAddCreativePanel' 'main-creative'}}
				class="activator btn-floating btn-medium waves-effect waves-light">
				<i class="mdi-content-add"></i>
			</a> 
		</div>
		{{#if creatives}}
			<ul class="collection staggered-creatives">
				{{#each creative in creatives}}
			    <li class="collection-item avatar">
			    	
			    	{{#link-to 'creatives.show' creative target="_blank" class="test-page-link"}}
				    	{{#if creative.backup_creative}}
				      	<img {{bind-attr src=creative.backup_creative.resource_url}} alt="" class="circle"/>
				      {{else}}
				      	<img src='https://s3-us-west-1.amazonaws.com/r3act/uploads/defaults/no-backup-img.png' alt="" class="circle"/>
				      {{/if}}

				      <span class="title">
				      	{{creative.name}}
					      <p>
					      	{{creative.width}} x {{creative.height}}
					      </p>
				      </span>
				    {{/link-to}}

			      	{{#unless creative.backup_creative.id }}
				      	<a class="btn-floating waves-effect waves-light flight-creative-backup-icon">
					      	<i {{action 'displayAddCreativePanel' 'backup-creative' creative}} 
					      	class="activator mdi-image-filter"></i>
					      </a>
				      {{/unless}}

				      <a class="btn-floating waves-effect waves-light flight-creative-delete-icon">
				      	<i {{action "deleteCreative" creative}} 
				      	class="mdi-action-delete"
				      	onclick="Materialize.toast('<span>Creative Deleted</span><a class=&quot;btn-flat neon-text&quot; href=&quot;#!&quot;>Undo<a>', 5000)"></i>
			      	</a>

			    </li>
				{{/each}}
		  </ul>
		{{else}}
			<ul class="collection">
		    <li class="collection-item avatar no-bottom-border">
		    	<p class="flight-no-creatives">
			    	No creatives assigned to this flight..
			    </p>
		    </li>
			</ul>
		{{/if}} 
	</div> 
  
  <div class="card-reveal">
	  <span {{action 'closeAddCreativePanel'}}
	  	id="card-reveal-close" class="card-title grey-text text-darken-4">
  		<i class="mdi-navigation-close right"></i>
	  </span>
	  {{#if displayAddCreativePanel}}
			{{panel-add-creative
				flight=flight
				creative=creative
				creativeType=creativeType
				isSwfCreative=isSwfCreative
				parentCreative=parentCreative
				parentController=parentController
				displayFileTypeSwitch=displayFileTypeSwitch
				panelHeadingCreativeType=panelHeadingCreativeType
				rerenderPanelAddCreative='rerenderPanelAddCreative'}}
		{{/if}}
  </div>

</div>
