<div class="card panel-add-creatives">
  
  <div class="card-content">
	  <div class="panel-add-creatives-header">
			<p> 
				Creatives
			</p>
			<a {{action 'displayAddCreativePanel'}}
				class="activator btn-floating btn-medium waves-effect waves-light">
				<i class="mdi-content-add"></i>
			</a> 
		</div>
		{{#if creatives}}
			<ul class="collection staggered-creatives">
				{{#each creative in creatives}}
			    <li class="collection-item avatar">
			      <img {{bind-attr src=creative.url}} alt="" class="circle">
			      <span class="title">
			      	{{creative.name}}

			      	<i {{action 'displayAddCreativePanel'}} 
			      	class="activator mdi-image-filter flight-creative-backup-icon"></i>

			      	<i {{action "deleteCreative" creative}} 
			      	class="mdi-action-delete flight-creative-delete-icon"
			      	onclick="Materialize.toast('<span>Creative Deleted</span><a class=&quot;btn-flat neon-text&quot; href=&quot;#!&quot;>Undo<a>', 5000)"></i>

			      </span>
			      <p>
			      	{{creative.width}} x {{creative.height}}
			      </p>
			    </li>
				{{/each}}
		  </ul>
		{{else}}
			<ul class="collection">
		    <li class="collection-item avatar">
		    	<p class="flight-no-creatives">
			    	No creatives assigned to this flight..
			    </p>
		    </li>
			</ul>
		{{/if}} 
	</div> 
  
  <div class="card-reveal">
	  <span {{action 'closeAddCreativePanel'}}
	  	id="card-reveal-close" class="card-title grey-text text-darken-4">
  		<i class="mdi-navigation-close right"></i>
	  </span>
	  {{#if displayAddCreativePanel}}
			{{panel-add-creative
				flight=flight
				creative_type=creative_type
				parentController=parentController
				rerenderPanelAddCreative='rerenderPanelAddCreative'}}
		{{/if}}
  </div>

</div>
