<!DOCTYPE html>
<html ng-app="r3act" >
<head>
  <title>ReactiveDashboard</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  
  <!-- Load c3.css -->
  <link href="/path/to/c3.css" rel="stylesheet" type="text/css">

  <%= csrf_meta_tags %>
</head>
  <body ng-controller="MainController">
  <base href="/">
    <%= render 'layouts/navbar' %>
    <%= yield %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="page-content">   
      <pre>$location.path() = {{$location.path()}}</pre>
      <pre>$routeParams = {{$routeParams}}</pre>
    </div>
    <!-- Load d3.js and c3.js -->
    <script src="/path/to/c3.min.js"></script>
  </body>
</html>
