<!DOCTYPE html>
<html>
<head>
  <title>Display {AdTech}</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
</head>
  <body>
    <%= render 'layouts/sidebar' %>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/flash_notice' %>
    <div class="page-content-wrap sidebar-push-content">
     <div class="page-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
