<!DOCTYPE html>
<html ng-app="r3act" >
<head>
  <title>ReactiveDashboard</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
  <body ng-controller="MainController">
  <base href="/">
  <section class="sticky-left page-menu">
    <div ui-view="sidebar"></div>
  </section>
    <%= render 'layouts/navbar' %>
    <div class="page-content-wrap">
      <%= yield %>
    </div>
  </body>
</html>
